<h1>Shorten a Link</h1>

<% if @link.errors.any? %>
  <ul>
    <% @link.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @link do |f| %>
  <%= f.label "ENTER URL" %>
  <%= f.url_field :url %>
  <%= f.submit %>
<% end %>

